<mat-drawer-container>
  <!--sidebar-->
  <mat-drawer mode="side" opened="true" class="example-sidenav" fxHide.xs fxHide.sm>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <!--/sidebar-->

  <!--main content-->
  <mat-drawer-content>

    <!--mobile-->
    <div class="container pt-0" fxHide fxShow.xs fxShow.sm>
      <a href="/">
        <div class="logo-container-mobile mb-4">
          <h5>billigste afbudsrejser</h5>
        </div>
      </a>
      <!-- filtering dialog-->
      <a (click)="openBottomSheet()" class="float-right" fxHide fxShow.xs fxShow.sm><small><mat-icon>filter_list</mat-icon> <ng-container i18n>Filters</ng-container></small></a>
      <!--/ filtering dialog-->
    </div>
    <!--/mobile-->




    <div class="container searched-tour-list-container">
      <div class="searched-tour-list">
        <!--sorting-->
        <app-sorting></app-sorting>
        <!--/sorting-->
        <app-items></app-items>
      </div>
    </div>
  </mat-drawer-content>
  <!--main content-->
</mat-drawer-container>
