.searched-tour-list {
  max-width: 1700px;
  margin: 0 auto !important;
  min-width: initial !important;
}

.mat-drawer-container {
  background: white;
}

.example-sidenav {
  padding: 20px;
  background: #fbfbfb;
  height: 100vh;
  position: fixed;
}

.logo-container-mobile {
    padding: .3rem 1rem;
    background: #ffeb39;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: black;
    text-decoration: none;
    margin:0 auto;
}