<div fxLayout="row wrap" fxLayoutAlign="start center" class="text-left" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25" class="search-card-container" *ngFor="let tour of tours?.data" [ngClass]="{ 'fade': isLoading }">
        <mat-card class="tour-card">
            <div class="tour-image-container">
                <a href="{{ redirectUrl(tour.id) }}" target="_blank">
            <img mat-card-image src="{{ tour.image_url }}">
            </a>
            </div>
            <div class="provider-logo mat-elevation-z1">
                <img src="{{ tour.provider.logo }}">
            </div>

            <mat-card-content>
                <p>
                    <span class="hotel" *ngIf="tour.departure_date && tour.duration">{{ tour.departure_date | date:"MMM d" }} +{{ tour.duration }} <ng-container i18n="@@dayPlural">{tour?.duration, select, 1 {day} other {days}}</ng-container></span>
                    <span class="price">{{ tour.currency }} {{ tour.price }}</span>
                    <br>
                    <span class="destination">{{ tour.city }}</span>&nbsp;<span class="from">{{ tour.country }}</span> &nbsp; <span class="from" *ngIf="(tour.number_of_persons)">{{ tour.number_of_persons }} <ng-container i18n="@@personPlural">{tour.number_of_persons, select, 1 {person} other {persons}}</ng-container></span>
                    <br>
                    <span class="hotel">{{ tour.name }}</span><span class="stars ml-2 font-thin" *ngIf="tour.stars">{{ tour.stars }}<mat-icon class="service-star">star</mat-icon></span>
                    <br>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div *ngIf="tours?.data && !tours.data.length && !isLoading">
    <h1 i18n="@@nothingFound">Nothing Found</h1>
</div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>
<div align="center" *ngIf="isAppending">
  <mat-spinner diameter="25" strokeWidth="2"></mat-spinner>
</div>
<div align="center" *ngIf="noMoreTours">
  <h4 class="gray-text font-thin" i18n="@@noMoreTours">No more tours to show</h4>
</div>
