.logo-container {
  padding: .3rem 1rem;
  background: #ffeb39;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 0;
}