.main-container {
    background-size: cover !important;
    min-height: 70vh;
    width: 100%;
    background-image: url('/assets/images/mainpage_header_bg.jpg');
    background-position: center;
}


.example-header-image {
    background-size: cover;
}

.logo-container {
    padding: .3rem 1rem;
    background: #ffeb39;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0;
    margin-left: 4rem;
}



/* large for field styles are placed in styles.scss */
.search-form {
    position: absolute;
    top: 50%;
    transformY: translate(-50%);
    color: white;
    font-size: .9rem;
    
    .flexible-departure-select {
        background:white;
    }
}


.extra-small {
    font-size:.7rem;
}



hr.provider-divider {
    border: .04rem solid #f1f1f1;
}


footer {
    padding: 20px;
    background: #fbfbfb;
    .copyright {
        font-weight: 100;
        font-size: .6rem;
    }
    
    .static-page-links {
        list-style-type:none;
        padding:0;
        a {
            color:#333;
            font-weight:800;
            font-size:.7rem;
        }
    }
    
}


//mobile
@media (max-width: 500px) {
    .main-container {
        height: 100vh;
        background-image: url('/assets/images/mainpage_header_bg_m.jpg');
    }
    .large-input-number {
        width: initial;
    }

    .search-form {
        left: 0;
    }
}
