<div class="main-container mat-elevation-z3 p-3 pt-6 pb-4">
    <div class="logo-container">
        <h5>billigste afbudsrejser</h5>
    </div>


    <!--search form container-->
    <div class="container-fluid">
        <!--search form-->
        <form action="tour-list" class="search-form w-100" method="get" (ngSubmit)="goSearch(searchForm.value); searching = true;" [formGroup]="searchForm">
            <!--large inputs for destination and departure date-->
            <div fxLayout="row wrap" fxLayoutAlign="left" class="text-left  mb-2" fxLayout.xs="column" fxFlexFill>
                <div class="px-2 py-2 float-left text-left" fxFlex="100">


                    <mat-form-field class="large-field mr-md-2">
                        <span matPrefix style="margin-right: 8px;"><mat-icon>local_airport</mat-icon></span>
                        <mat-select i18n-placeholder="@@departureAirports" placeholder="Departure Airports" multiple formControlName="departure_airports">
                            <mat-option value="Billund">Billund</mat-option>
                            <mat-option value="Aalborg">Aalborg</mat-option>
                            <mat-option value="Aarhus">Aarhus</mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field class="large-field">
                        <span matPrefix style="margin-right: 8px;"><mat-icon>calendar_today</mat-icon></span>
                        <input i18n-placeholder="@@departureDate" matInput name="departure_date" placeholder="Departure Date" [matDatepicker]="picker" (click)="picker.open()" formControlName="departure_date">
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>


                </div>
            </div>
            <!--/large inputs for destination and departure date-->

            <!--secondary field container-->
            <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="text-left" fxLayout.xs="column" fxFlexFill>
                <div class="secondary-fields-container text-left" fxFlex="100" fxFlexOffset="20px">
                    <!--flexible departure select-->
                    <span i18n="@@departureFlexibility" class="mr-1">Flexible departure</span>
                    <select name="flexible_departure" class="flexible-departure-select" formControlName="flexible_departure">
                            <option i18n="@@1week" value="7">1 Week</option>
                            <option i18n="@@2weeks" value="14">2 Weeks</option>
                            <option i18n="@@3weeks" value="21">3 Weeks</option>
                        </select>
                    <!--/flexible departure select-->
                </div>
            </div>
            <!--/secondary field container-->

            <!--search button-->
            <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="text-left" fxLayout.xs="column" fxFlexFill>
                <div class="text-left pt-4" fxFlex="100" fxFlexOffset="20px">
                    <button i18n="@@searchButton" mat-raised-button color="primary" class="search-button" type="submit">{searching, select, 0 {search} 1 {searching...}}</button>
                </div>
            </div>
            <!--/search button-->
        </form>
        <!--/search form-->
    </div>
    <!--/search form container-->

</div>



<div class="container mt-4">
    <!--featured tours-->
    <div class="featured-tours">
        <h1 i18n="@@featuredTours">Featured Tours</h1>
        <div class="featured-tours-inner my-4 py-4">
            <h2 i18n>Most Popular</h2>
            <app-featured-tours [tourType]="'popular'" [tourOrder]="'popularity'"></app-featured-tours>
        </div>

        <div class="featured-tours-inner my-4 py-4">
            <h2 i18n>Cheapest</h2>
            <app-featured-tours [tourType]="'cheapest'" [tourOrder]="'price'"></app-featured-tours>
        </div>

        <div class="featured-tours-inner my-4 py-4">
            <h2 i18n>Closest</h2>
            <app-featured-tours [tourType]="'closest'" [tourOrder]="'date'"></app-featured-tours>
        </div>
    </div>
    <!--featured tours-->

    <!--providers-->
    <div class="providers my-4">
        <app-providers class="my-4"></app-providers>
        <hr class="my-4 provider-divider">
    </div>
    <!--providers-->

    <!--popular destinations-->
    <div class="popular-destinations my-4">
        <h3 i18n>Popular Destinations</h3>
        <app-popular-destinations class="my-4"></app-popular-destinations>
    </div>
    <!--popular destinations-->
</div>

<div class="container mt-4">
<small class="gray-text font-thin extra-small" [innerHTML]="mainpageData?.bottom_text"></small>
</div>


<footer class="py-4">
    <ul class="static-page-links">
        <li *ngFor="let staticPage of staticPages"><a routerLink="{{ staticPage.slug }}">{{ staticPage.title }}</a></li>
    </ul>
    
    <a href="/en" class="gray-text mr-2"><img style="width:15px" class="mr-1" src="assets/images/flag_en.jpg"> <small>English</small></a>
    <a href="/da" class="gray-text"><img style="width:15px" class="mr-1" src="assets/images/flag_da.png"> <small>Dansk</small></a>
    <br><br>
    <small class="copyright">Copyright © 2018. billigsteafbudsrejser</small>
    <br>
    <small i18n class="copyright">All rights reserved!</small>
</footer>
